#top{
  display:inline-flex;
}
#logo{
  width:200px;
  height:80px;
}
#topMenu{
  height: 30px;
  width: 850px;
}
#topMenu ul li{
  list-style:none;
  color:white;
  background-color:#2d2d2d;
  float:left;
  line-height:30px;
  vertical-align:middle;
  text-align:center;
}
#topMenu .menuLink{
  text-decoration:none;
  color: white;
  display: block;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  font-family: "trebuchet Ms", Dotum, Arial;
}
#topMenu. menuLink:hover{
  color: red;
  background-color: #4d4d4d;
}
